<aside class="h-[calc(100vh-67px)] mt-2">
  <div class="h-full overflow-x-hidden bg-slate-900 w-80 text-slate-300 rounded-r-2xl">
    <!-- actions -->
    <div class="flex flex-row-reverse items-center justify-start mt-5 px-4 gap-3 relative">
      <app-icon
        (click)="
          drawer.open();
          selectedFormField.source = 'addNew';
          selectedFormField.fields = newLinkFormfields
        "
        name="add"
        class="w-4 text-slate-400 hover:text-slate-200 cursor-pointer"
      ></app-icon>
      <app-icon
        name="search"
        (click)="
          drawer.open();
          selectedFormField.source = 'search';
          selectedFormField.fields = searchFormFields
        "
        class="w-5 text-slate-400 hover:text-slate-200 cursor-pointer"
      ></app-icon>
      @if (activeType() === 'films' || activeType() === 'grammars') {
      <app-icon
        (click)="drawer.open(); selectedFormField.source = 'filter'; selectedFormField.fields = []"
        name="filter"
        class="w-6 text-slate-400 hover:text-slate-200 cursor-pointer"
      ></app-icon
      >}

      <app-drawer-form
        #drawer
        [btnText]="selectedFormField.source === 'addNew' ? 'Save' : ''"
        [fields]="selectedFormField.fields"
        (formSubmit)="handleFormSubmit($event)"
      >
        @if(selectedFormField.source === 'filter' || selectedFormField.source === 'moveto') {
        <div class="flex items-center gap-3 justify-end pt-1 px-4 mb-3">
          <app-icon
            name="add"
            class="w-4 text-slate-700 hover:text-slate-400 cursor-pointer"
          ></app-icon>
          <app-icon
            (click)="onSelectSubGroup(''); drawer.close()"
            name="clearFilter"
            class="w-7 text-slate-700 hover:text-slate-400 cursor-pointer"
          ></app-icon>
        </div>

        @if (selectedFormField.source === 'moveto') {
        <div class="">
          @for (group of groups(); track $index) {
          <div class="overflow-hidden flex flex-col transition-all duration-800">
            <button
              type="button"
              class="w-full border-2 cursor-pointer border-gray-100/10 justify-between hover:scale-100 scale-95 py-1 px-4 transaction-all rounded-lg duration-200 hover:bg-slate-500 bg-slate-500/60"
              (click)="
                group.subGroups && group.subGroups.length
                  ? toggleGroup(group.group)
                  : onLinkMoveTo({ group: group.group, subGroup: '' }, '');
                !group.subGroups && drawer.close()
              "
              aria-expanded="{{ isGroupOpen(group.group) ? 'true' : 'false' }}"
            >
              <div class="flex items-center justify-between">
                <span class="">{{ group.group }} </span>

                @if (group.subGroups && group.subGroups.length) {
                <app-icon
                  name="up"
                  class="w-4 text-slate-300 transform transition-transform duration-200"
                  [class.rotate-180]="!isGroupOpen(group.group)"
                ></app-icon>
                }
              </div>
              <!-- sub Groups-->
              @if (isGroupOpen(group.group)) {
              <div
                class="pt-3 mt-3 border-t-1 border-slate-200 flex flex-wrap gap-2 items-start justify-start transaction-all"
              >
                @for (subGroup of group.subGroups; track $index) {
                <a
                  (click)="
                    onLinkMoveTo({ group: group.group, subGroup: subGroup }, '');
                    drawer.close();
                    $event.stopPropagation()
                  "
                  class="block w-auto bg-slate-300 text-left py-1 px-6 rounded-lg scale-90 hover:scale-100 hover:bg-slate-400 transition-all cursor-pointer text-slate-600"
                  >{{ subGroup }}</a
                >
                }
              </div>
              }
            </button>
          </div>
          }
        </div>
        } @else { @for (group of groups(); track $index) { @for (subGroup of group.subGroups; track
        $index) { @if (group.group === activeType()) {
        <a
          (click)="onSelectSubGroup(subGroup); drawer.close()"
          class="block border-2 cursor-pointer border-gray-100/10 justify-between hover:scale-100 scale-95 py-1 px-4 transaction-all rounded-lg duration-200 hover:bg-slate-500 bg-slate-500/60"
        >
          {{ subGroup }}
        </a>
        } } } } }
      </app-drawer-form>
    </div>

    <!-- link list -->
    <ul class="p-2 w-full h-[calc(100vh-133px)] overflow-y-auto">
      @if (videoLinks().length == 0) {
      <div class="text-center m-10">
        <app-icon
          name="spin"
          class="w-30 text-center text-lime-600 animate-[spin_2s_ease-out_infinite]"
        ></app-icon>
        <p class="text-xs">Getting {{ activeType() }} list...</p>
      </div>

      }@else { @if(selectedSubGroup()) {
      <li class="rounded-2xl text-md text-blue-800 text-center py-3 bg-blue-300 mb-3">{{ selectedSubGroup() }}</li>
      } @for (link of filteredVideoLinks(); track $index) {
      <li
        [routerLink]="link.group"
        class="flex flex-col items-between border-2 border-gray-100/10 justify-between hover:scale-100 scale-95 px-2 pt-2 transaction-all rounded-lg duration-200 hover:bg-slate-500 bg-slate-500/60 mb-1"
      >
        <a
          class="flex items-start gap-2 justify-start w-full cursor-pointer hover:text-lime-300 text-lime-200"
          (click)="onSelectVideo(link)"
        >
          <app-icon
            name="subtitle"
            class="w-6"
            [ngClass]="link.subtitle ? 'text-white' : 'text-gray-900/70'"
          ></app-icon>
          <span>{{ link.title }}</span>
        </a>
        <div class="flex items-center w-full justify-between">
          <p class="text-slate-200/40 text-sm">{{ link.sentOn | date : 'dd. MMMM yyyy' }}</p>
          <div class="flex items-center">
            <app-icon
              name="edit"
              class="w-4 text-slate-400 hover:text-slate-700 cursor-pointer"
            ></app-icon>
            <app-icon
              name="delete"
              class="w-7 text-slate-400 hover:text-slate-700 cursor-pointer"
            ></app-icon>
            <app-move-to
              (click)="drawer.open(); onMoveIconClick(link.objectId!)"
              [linkId]="link.objectId!"
              [moveTo]="moveTo()"
              [activeLinkId]="activeLinkId()"
            ></app-move-to>
          </div>
        </div>
      </li>
      }}
    </ul>
  </div>
</aside>
