<aside class="h-[calc(100vh-40px)] w-screen md:w-80">
  <div
    class="h-full w-full md:w-80 overflow-x-hidden bg-slate-900 text-slate-300 text-sm md:text-medium"
  >
    <!-- actions -->
    <div class="flex flex-row items-center justify-end gap-10 my-3 relative w-full">
      <app-icon
        (click)="
          drawer.open();
          selectedFormField.source = 'addNew';
          selectedFormField.fields = newLinkFormfields
        "
        name="add"
        class="w-4 text-slate-400 hover:text-slate-200 cursor-pointer"
        [title]="'Add new video'"
      ></app-icon>

      <app-icon
        name="search"
        [title]="'Search'"
        (click)="
          drawer.open();
          selectedFormField.source = 'search';
          selectedFormField.fields = searchFormFields
        "
        class="w-5 text-slate-400 hover:text-slate-200 cursor-pointer"
      ></app-icon>

      <app-icon
        (click)="drawer.open(); selectedFormField.source = 'filter'; selectedFormField.fields = []"
        name="filter"
        [title]="'Filter'"
        class="w-6 text-slate-400 hover:text-slate-200 cursor-pointer"
      ></app-icon>

      <app-drawer-form
        #drawer
        [btnText]="selectedFormField.source === 'addNew' ? 'Save' : ''"
        [fields]="selectedFormField.fields"
        (formSubmit)="handleFormSubmit($event)"
      >
        @if(selectedFormField.source === 'filter' || selectedFormField.source === 'moveto') {
        <div class="flex items-center gap-3 justify-end pt-1 px-4 mb-3">
          <app-icon
            name="add"
            [title]="'Create new sub-group'"
            class="w-4 text-slate-700 hover:text-slate-400 cursor-pointer"
          ></app-icon>
          <app-icon
            (click)="onSelectSubGroup({ group: activeType(), subGroup: '' }); drawer.close()"
            name="clearFilter"
            [title]="'Clear all filters'"
            class="w-7 text-slate-700 hover:text-slate-400 cursor-pointer"
          ></app-icon>
        </div>

        @if (selectedFormField.source === 'moveto') {
        <div class="">
          @for (group of groups(); track $index) {
          <div class="overflow-hidden flex flex-col transition-all duration-800">
            <button
              type="button"
              class="w-full border-2 cursor-pointer border-gray-100/10 justify-between hover:scale-100 scale-95 py-1 px-4 transaction-all rounded-lg duration-200 hover:bg-slate-500 bg-slate-500/60"
              (click)="
                group.subGroups && group.subGroups.length
                  ? toggleGroup(group.group)
                  : onLinkMoveTo({ group: group.group, subGroup: '' }, '');
                !group.subGroups && drawer.close()
              "
              aria-expanded="{{ isGroupOpen(group.group) ? 'true' : 'false' }}"
            >
              <div class="flex items-center justify-between">
                <span class="">{{ group.label }} </span>

                @if (group.subGroups && group.subGroups.length) {
                <app-icon
                  name="up"
                  class="w-4 text-slate-300 transform transition-transform duration-200"
                  [class.rotate-180]="!isGroupOpen(group.group)"
                ></app-icon>
                }
              </div>
              <!-- sub Groups-->
              @if (isGroupOpen(group.group)) {
              <div
                class="pt-3 mt-3 border-t-1 border-slate-200 flex flex-wrap gap-2 items-start justify-start transaction-all"
              >
                @for (subGroup of group.subGroups; track $index) {
                <a
                  (click)="
                    onLinkMoveTo({ group: group.group, subGroup: subGroup }, '');
                    drawer.close();
                    $event.stopPropagation()
                  "
                  class="block w-auto bg-slate-300 text-left py-1 px-6 rounded-lg scale-90 hover:scale-100 hover:bg-slate-400 transition-all cursor-pointer text-slate-600"
                  >{{ subGroup }}</a
                >
                }
              </div>
              }
            </button>
          </div>
          }
        </div>
        } @else { @for (group of groups(); track $index) { @for (subGroup of group.subGroups; track
        $index) { @if (group.group === activeType()) {
        <a
          (click)="onSelectSubGroup({ group: group.group, subGroup: subGroup }); drawer.close()"
          class="block border-2 cursor-pointer border-gray-100/10 justify-between hover:scale-100 scale-95 py-1 px-4 transaction-all rounded-lg duration-200 hover:bg-slate-500 bg-slate-500/60"
        >
          {{ subGroup }}
        </a>
        } } } } }
      </app-drawer-form>
    </div>

    <!-- link list -->
    <ul class="relative p-2 h-[calc(100vh-150px)] mx-auto overflow-y-auto">
      @if (videoLinks().length == 0) {
      <div class="absolute top-1/5 left-[50%] text-center -translate-x-[50%]">
        <app-icon
          name="spin"
          class="w-20 text-center text-lime-600 animate-[spin_2s_ease-out_infinite]"
        ></app-icon>
      </div>

      } @else { @if(selectedSubGroup().subGroup) {
      <li class="rounded-2xl text-md text-blue-800 text-center py-3 bg-blue-300 mb-3">
        {{ selectedSubGroup().subGroup }}
      </li>

      } @if (filteredVideoLinks().length > 0) {@for (link of filteredVideoLinks(); track $index) {
      <li
        (click)="setActiveLink(link.objectId!)"
        [routerLink]="link.group"
        class="flex flex-col items-between border-2 border-gray-100/10 justify-between hover:scale-100 px-2 pt-2 transaction-all rounded-lg duration-200 hover:bg-slate-500 mb-1"
        [class]="
          activeLinkId() === link.objectId ? 'scale-100 bg-slate-500' : 'scale-95 bg-slate-500/30'
        "
      >
        <a
          class="flex items-start gap-2 justify-start w-full cursor-pointer hover:text-lime-300 text-lime-200"
          (click)="onSelectVideo(link)"
        >
          <span>{{ link.title }}</span>
        </a>
        <div class="flex items-center w-full justify-between">
          <p class="text-slate-200/40 text-sm">{{ link.sentOn | date : 'dd. MMMM yyyy' }}</p>
          <div class="flex items-center gap-2 mb-4">
            @if(!link.subtitle || link.subtitle.length == 0) {
            <app-get-sub [link]="link"></app-get-sub>}
            <app-update [UpdateWhere]="'title'" [link]="link"></app-update>
            <app-icon
              name="edit"
              [title]="'Edit'"
              class="w-4 text-slate-400 hover:text-slate-700 cursor-pointer"
            ></app-icon>
            <app-move-to
              (click)="drawer.open(); onMoveIconClick(link.objectId!)"
              [linkId]="link.objectId!"
              [moveTo]="moveTo()"
              [activeLinkId]="activeLinkId()"
            ></app-move-to>
          </div>
        </div>
      </li>
      }} @else {
      <li class="rounded-2xl text-md text-blue-200 text-center py-3 bg-blue-300/40 mb-3">
        Nothing here — add your first item!
      </li>
      } }
    </ul>
    <div class="w-full gap-8 mt-2 flex items-center justify-center">
      <p class="">
        cotnt:
        {{ filteredVideoLinks().length }}
      </p>
    </div>
  </div>
</aside>
