<div class="fixed md:bottom-3 flex flex-col items-center text-center w-screen md:w-[calc(100vw-560px)] md:mx-2">
  <app-drawer-form
    [source]="'translate'"
    [class.opacity-0]="!drawer.isOpen()"
    class="transition-opacity duration-130"
    #drawer
  >
    <div class="flex items-center justify-between">
      <p class="font-bold text-lg text-left">{{ selectedWord.word }}</p>
      <app-icon
        (click)="onSendSelectedWord()"
         [title]="'Save this word'"
        name="wortHafen"
        class="w-7 text-sky-400 cursor-pointer hover:text-sky-600"
      ></app-icon>
    </div>

    <p dir="rtl" class="text-right text-md">
      {{ translation }}
    </p>
  </app-drawer-form>
  @if(currentLine().length > 0 ) {
  <div class="flex justify-center w-full items-center">
    <div
      class="w-full flex items-center justify-center flex-wrap text-lg 2xl:text-2xl bg-slate-950/30 text-slate-900 mx-auto text-center px-10 py-1"
      [ngClass]="!isSubVisible ? 'hidden' : ''"
    >
      @for (word of currentLine(); track $index) {
      <p
        (click)="isSubVisible && onSelectWord(word)"
        (mouseenter)="onVideoPause()"
        (mouseleave)="!drawer.isOpen() && onVideoStart()"
        class="hover:bg-lime-100/80 hover:text-lime-900 rounded-lg p-1 transition-all duration-200 cursor-pointer"
      >
        {{ word.trim() }}
      </p>

      }
    </div>
    <app-icon
      (click)="onToggleSubVisible()"
       [title]="isSubVisible ? 'Subtitle off' : 'Subtitle on'"
      name="off"
      class="w-5 cursor-pointer -ml-6 transition-all duration-200"
      [ngClass]="
        isSubVisible
          ? 'text-rose-700 hover:text-rose-400'
          : ' text-lime-600 hover:text-lime-400 -mt-15'
      "
    ></app-icon>
  </div>
  }
</div>
