<!-- Overlay -->
<div
  class="fixed top-0 left-0 h-screen w-screen bg-black/80 z-[99]"
  [class.hidden]="!isOpen()"
></div>

<!-- Alert toast -->
<div
  class="fixed top-0 flex flex-col justify-center items-between p-4 right-1/2 translate-x-1/2 h-auto overflow-y-auto transition-all duration-400 ease-in-out max-h-screen w-[45%] mx-3 shadow-lg/30 rounded-xl z-[100]"
  [class]="setStyle()"
  [ngClass]="isOpen() ? 'translate-y-20 opacity-100' : '-translate-y-20 opacity-0'"
>
  <span class="flex items-center gap-3"
    ><app-icon [name]="alertService.status()" class="w-9"></app-icon
    ><span class="flex flex-col">
      @for (msg of messages(); track $index) {
      <p class="text-lg text-slate-800">{{ msg }}</p>
      }
    </span>
  </span>
  <div class="w-5 fixed top-2 right-2">
    <app-icon
      (click)="close()"
      name="cancel"
      [title]="'Close'"
      class="w-5 text-rose-700/70 hover:text-rose-600 cursor-pointer transition-all duration-300"
    ></app-icon>
  </div>
</div>
