<div
  class="fixed pt-1 md:pt-2 px-2 right-0 top-0 text-center rounded-l-2xl transaction-all duration-200 z-40"
  [ngClass]="showHafen ? 'h-screen w-64 md:w-56 bg-slate-200 text-start' : 'w-15'"
>
  <div class="flex items-center justify-between gap-3 px-3">
    <app-icon
      (click)="showHafen = !showHafen"
      name="wortHafen"
      [title]="showHafen ? 'Hide' : 'Show'"
      class="w-8 cursor-pointer hover:text-sky-500 transaction-all duration-300"
      [ngClass]="{ 'text-rose-600': isAnimating(), 'text-sky-300': !isAnimating() }"
    ></app-icon>
    @if (showHafen) {
    <app-icon
      (click)="onSyncMyWords()"
      name="refresh"
      [title]="'Get all saved words of selected video.'"
      class="w-6 transition-all duration-300 cursor-pointer"
      [title]="'Sync this link words'"
      [ngClass]="
        isSyncing()
          ? 'animate-[spin_2s_ease-out_infinite] text-violet-500 scale-130'
          : 'text-lime-700 hover:text-lime-500'
      "
    ></app-icon>
    }
  </div>
  @if (showHafen) {
  <ul class="h-[calc(100vh-150px)] overflow-y-auto">
    @for (w of currentLinkWords(); track $index) { @if(w.word) {
    <li
      class="bg-lime-100/30 p-4 mb-1 rounded-lg hover:shadow-lg cursor-default transaction-all duration-100 scale-95 hover:scale-100 hover:bg-lime-200"
      [ngClass]="{ 'bg-lime-200': isAnimating() && w === vocab()!.words[0] }"
    >
      <p class="font-bold">{{ w.word }}</p>
      <p dir="rtl">{{ w.meaning }}</p>
      <p class="border-t-1 mt-4">{{ w.line }}</p>
    </li>
    } }
  </ul>
  }
</div>
